#!/usr/bin/make -f

export DH_GOPKG := github.com/homeport/dyff

%:
	dh $@ --buildsystem=golang --without=golang

override_dh_dwz:
	# disabled

override_dh_auto_build:
	go build -v -o dyff ./cmd/dyff
	go build -v -o gendoc ./cmd/gendoc

override_dh_auto_test:
	go test -v ./...

override_dh_auto_install:
	# nothing to do - we'll install manually

override_dh_install:
	dh_install
	mkdir -p debian/dyff/usr/bin
	install -m 755 dyff debian/dyff/usr/bin/dyff
	install -m 755 gendoc debian/dyff/usr/bin/gendoc

override_dh_installchangelogs:
	dh_installchangelogs
